fake_wavs/*.wav .secrets.toml
fake_wavs/
fake_wavs_large/
.secrets.toml
venv/
venv/*
*.pyc
secrets.toml
working_memory/*
broken_wavs/
cache/
.venv/
.eon-password
.eon-password-old
nohup.out
rclone-sync.log
*.log

# Large files (>100MB)
whydoesthiscrash.txt
all-filenames.txt
files_to_download_2.txt
files_to_download.txt